# Database Configuration
DB_TYPE=
DB_URL=
REDIS_URL=
RABBITMQ_URL=

# JWT Configuration
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# gRPC Configuration
GRPC_PACKAGE=
GRPC_PROTO_PATH=
GRPC_URL=

# App Configuration
EMAIL_LOGO_URL=