# App
APP_NAME="Virtual Academic Affair (Local)"
APP_API="http://localhost:3000"
HTTP_PORT=3000
EMAIL_LOGO_URL="https://example.com/logo.png"

# Database
DB_TYPE="postgres"
DB_URL="postgresql://postgres:postgres@localhost:5432/vaa?sslmode=disable"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://localhost:5672"
RABBITMQ_QUEUE="queue"
RABBITMQ_QUEUE_DLX="email_ingest_dlx"

# Security
GMAIL_EXTENSION_SESSION_SECRET=
JWT_SECRET="CHANGE_ME_SUPER_SECRET"
JWT_TOKEN_AUDIENCE="vaa"
JWT_TOKEN_ISSUER="vaa-api"
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=604800
ENCRYPTION_KEY="CHANGE_ME_32_CHARS_MIN"

# Google
GOOGLE_CLIENT_ID="CHANGE_ME.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="CHANGE_ME"
GOOGLE_WATCH_TOPIC_NAME="projects/project-id/topics/vaa-gmail-watch"
GOOGLE_PUBSUB_AUDIENCE="aud"
GOOGLE_PUBSUB_PUSH_SERVICE_ACCOUNT_EMAIL="pubsub-push@project-id.iam.gserviceaccount.com"

# gRPC
START_GRPC=true
GRPC_URL="localhost:5000"
GRPC_PACKAGE="app_server"
GRPC_PROTO_PATH="src/shared/proto/app_server.proto"